<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Eventzilla</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    
    
    {% if request.user.is_authenticated %}
        {% include 'logged_nav.html' %}
    {% else %}
        {% include 'non_logged_nav.html' %}
    {% endif %}
        

    <main class="container max-w-[1400px] mx-auto py-6">
        {% block content %}
        {% endblock %}
    </main>

    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('userDropdown');
            dropdown.classList.toggle('hidden');
        }

        document.addEventListener('click', function(event) {
            const button = document.getElementById('userDropdownBtn');
            const dropdown = document.getElementById('userDropdown');
            if (!button.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.classList.add('hidden');
            }
        });

        document.getElementById("menu-toggle").addEventListener("click", function () {
            document.getElementById("mobile-menu").classList.toggle("hidden");
        });

        document.getElementById("user-menu-button").addEventListener("click", function () {
            document.getElementById("user-menu").classList.toggle("hidden");
        });

        window.addEventListener("click", function (e) {
            if (!document.getElementById("user-menu-button").contains(e.target)) {
                document.getElementById("user-menu").classList.add("hidden");
            }
        });
        
    </script>
</body>
</html>
