{% extends 'base.html' %}

{% block title %}Delete Category{% endblock %}

{% block content %}
    
    <div class="w-full sm:w-1/2 p-6 bg-white rounded-lg shadow-md mt-8 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 mb-6">Are you sure you want to delete this category?</h1>
        <p><b>Category:</b> {{ category.name }}</p>
        <p><b>Description:</b> {{ category.description }}</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white px-6 py-2 rounded shadow-lg cursor-pointer mt-4 me-2">Delete</button>
            <a href="{% url 'category_list' %}" class="bg-green-500 text-white px-6 py-2 shadow-lg rounded mt-4">Cancel</a>
        </form>
    </div>
{% endblock %}
