{% extends 'base.html' %}

{% block title %}Event List{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6">Event List</h1>

    
    {% comment %} filter section  {% endcomment %}
    <form method="GET" class="mb-6">
        {% csrf_token %}
        <div class="flex flex-col sm:flex-row sm:justify-end mb-4 ">
            <div class="px-4 border-r-1 border-gray-800 bg-white mb-2 rounded-sm shadow-sm hover:shadow-lg hover:bg-orange-400">
                <p class="text-sm text-gray-700 font-medium border-b-1 border-gray-200">Select Category</p>
                <p class="text-sm font-medium text-gray-700">{{ filter_form.category }}</p>
            </div>
            <div class="px-4 border-r-1 border-gray-800 bg-white mb-2 rounded-sm shadow-sm hover:shadow-lg hover:bg-orange-400">
                <p class="text-sm text-gray-700 font-medium border-b-1 border-gray-200">Start Date (MM-DD-YYYY)</p>
                <p>{{ filter_form.start_date }}</p>
            </div>
            <div class="px-4 border-r-1 border-gray-800 bg-white mb-2 rounded-sm shadow-sm hover:shadow-lg hover:bg-orange-400">
                <p class="text-sm text-gray-700 font-medium border-b-1 border-gray-200">End Date (MM-DD-YYYY)</p>
                <p>{{ filter_form.end_date }}</p>
            </div>
        </div>
        <div class="flex justify-start sm:justify-end mt-2 ">
            <button type="submit" class="bg-orange-500 text-white px-6 py-2 rounded cursor-pointer shadow-sm hover:shadow-xl inline-block">Filter</button>
        </div>
    </form>


    <a href="{% url 'event_create' %}" class="bg-orange-500 text-white px-6 py-2 rounded cursor-pointer shadow-sm hover:shadow-xl mb-4 inline-block">Create Event</a>
    
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500{% endif%}"> {{message}} </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="overflow-x-auto shadow-lg rounded-lg bg-white">
        <table class="min-w-full bg-white table-fixed">
            <thead>
                <tr>
                    <th class="py-3 px-6 border-b text-left text-lg">Event Name</th>
                    <th class="py-3 px-6 border-b text-center text-lg">Participant</th>
                    <th class="py-3 px-6 border-b text-center text-lg">Category</th>
                    <th class="py-3 px-6 border-b text-center text-lg">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr class="hover:bg-gray-100">
                    <td class="py-3 px-6 border-b text-left">{{ event.name }}</td>
                    <td class="py-3 px-6 border-b text-center">{{ event.num_participant }}</td>
                    <td class="py-3 px-6 border-b text-center">{{ event.category.name }}</td>
                    <td class="py-3 px-6 border-b text-center">
                        <a href="{% url 'event_detail' event.id %}" class="text-blue-600 px-2 py-1 hover:shadow-md rounded-md hover:bg-blue-500 hover:text-white">Details</a> |
                        <a href="{% url 'event_update' event.id %}" class="text-green-600 px-2 py-1 hover:shadow-md rounded-md hover:bg-green-500 hover:text-white">Edit</a> |
                        <form method="POST" action="{% url 'event_delete' event.id %}" class="inline-block">
                            {% csrf_token %}
                            <button class="text-red-600 px-2 py-1 hover:shadow-md rounded-md hover:bg-red-500 hover:text-white">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


